*{
    color:white;
    padding: 0;
    margin: 0;
    border-collapse:collapse;
}

tr:hover {
    background-color: #292929;
}

tr button{
    visibility: hidden;
}

tr:hover button{
    visibility: visible;
}

table {
    width: 100%;
}

button{
    background: none;
    border: none;
}

button:focus{
    outline: none;
}

.play-button{
    border-radius: 50%;
    border: 2px white solid;
    width: 40px;
    height: 40px;
    fill: white;
}

.play-button:hover{
    border-color: #0088FF;
    fill: #0088FF;
}

.play-button:active{
    border-color: #adadad;
    fill: #adadad;
}

th {
    font-weight: normal;
    text-transform: uppercase;
}

table th, table td {
    padding: 20px;
}

table th {
    text-align: left;
}

table td {
    border-top: 1px solid #333;
}