<div *ngIf="view | async as v">
  <table>
    <th></th>
    <th>Name</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Time</th>

      <tr *ngFor="let song of v.library.songs">
        <td>
            <button (click)="setSong(song.id)">
                <svg class="play-button" xmlns="http://www.w3.org/2000/svg"  version="1.1" 
                  width="24" height="24" viewBox="0 0 24 24"><path d="M8,5.14V19.14L19,12.14L8,5.14Z" /></svg>
            </button>            
        </td>
        <td>
          {{ song.name }}
        </td>

        <td><a 
          (click)="loadArtist(song.artist.id)" 
          href="#">
          {{ song.artist.name }}
        </a></td>

        <td><a 
          (click)="loadAlbum(song.album.id)" 
          href="#">
          {{ song.album.name }}
        </a></td>

        <td>
          {{ song.runtime }}
        </td>
      </tr>
  </table>
</div>
