.listHeader{
    color: #bbbbbb;
    padding-left: 15px;
    padding-top: 10px;
}

p {
    margin: 0;
    font-size: 16px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.listItemWrapper{
    padding-top: 6px;
}

.listItem{
    padding-left: 25px;
}

.selectedItem{
    margin-left: 12px;
    padding-left: 8px;
    border-left: 5px;
    border-left-style: solid;
    border-left-color: #13DADA;
}