.listHeader{
    color: #bbbbbb;
    margin: 0 0 3px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.listItem{
    padding-left: 10px;
}

.selectedItem{
    padding-left: 5px;
    border-left: 5px;
    border-left-style: solid;
    border-left-color: green;
}